body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    display: flex;
}

#root {
    display: flex;
    width: 100%;
    justify-content: center;
}

input[type=time] {
    width: 100%;
}

input[type=number] {
    width: 100%;
}

input[type=text] {
    width: 100%;
}

input {
    border: 0;
    background-color: #e6f0fa;
    border-radius: 10px;

}

input:focus {
    border: 0;
    background-color: #ddefbd;
    border-radius: 10px;
}

input:hover {
    box-shadow: 2px 2px 2px grey;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
label {

    border-bottom: dotted 1px gray;
    width: 100%;
}

.button {
   margin-top:10px;
    display: flex;
    justify-content: center;
}

.button button {
    width: 80%;

}

.error {
    color: #ff0000;
    font-weight: bold;
}